footer.footer#footer
			.discont
				h2.discont-h2 Get Discount 35% off
				input(placeholder="Enter Your email").c-email
				//button.btn.btn-color-grey.btn-discont.btn-size-m Send
				button.btn.btn-color-grey.btn-discont Send
			.footer__item
				p.footer-name  &copy; 2017 Maison. All rights reserved
				ul.navbar
					li.navbar__list
						a(href="index.html") Home
					li.navbar__list#link-magazine-footer
						a(href="#magazine") Shop
					li.navbar__list#link-about-footer
						a(href="#footer") About
					li.navbar__list
						a(href="cart.html") cart