- var footer = ["Shop","Journal","About Us","Contact"];
- var colors = ["white","red","blue","green","black"];
-var n=5;
-var categories={"15": "All products","07": "Living","01": "Dining","03": "Furniture","02": "Lighting","02": "Accessories"};
-var size={"05": "Small","06":"Medium","07": "Large"};
-var brands={"05": "Banshu Hamono", "04": "Bower", "02": "Braun", "01": "Field",  "3": "Elevenplus"};